<a href="{{ path('add_student') }}">Add Student</a>
<h4>List Student</h4>
<br>
{% for i in tabStudent %}
Nce: {{i.nce}} Username: {{i.username}} Moyenne: {{i.moyenne}}
<a href="#">Delete</a>
<a href="#">Update</a>
<br>
{% endfor %}